mat-card {
  margin: 20px;

  mat-card-content {

    .recipes {
      display: flex;
      flex-wrap: wrap;
      
      mat-card {
        width: 200px;
        margin-bottom: 20px;
  
        mat-card-content {
          img {
            width: 100%; 
            height: auto;
            object-fit: cover;
          }
  
          button {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
