<mat-card>
    <mat-card-header>
      <mat-card-title>Dashboard</mat-card-title>
    </mat-card-header>
    <mat-card-content>
          <h1>Suggested Recipes</h1>
          <div class="recipes">
            <mat-card *ngFor="let newRecipe of newRecipes$ | async">
              <mat-card-header>
                {{newRecipe.title}}
              </mat-card-header>
              <mat-card-content>
                <img [src]="newRecipe.image">
                <button mat-raised-button>View Recipe</button>
              </mat-card-content>
            </mat-card>
          </div>
    </mat-card-content>
  </mat-card>
  