mat-card {
    margin: 20px;
  }
  
  mat-grid-list {
    margin: 20px;
  }
  
  mat-grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  